@import '../../styles/variable.module.scss';

.root {
  max-width: 100vw;
  min-height: 926px;
  background-image: url('../../assets/image/header-img-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding-bottom: 36px;
}

.backgraundNav {
  width: 100%;
  height: 110px;
  position: absolute;
  // left: 0.5vw;

  background: rgba(22, 26, 25, 0.6);
}

.logoRow {
  margin: 0 auto;
  padding: 17px 0;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 263px;

  @media (max-width: 1160px) {
    justify-content: space-between;
    gap: 32px;
  }
}

.contentBlock {
  max-width: 787px;
  min-height: 729px;
  margin: 19px auto 0;
}

.title {
  @include title1;
  color: $color-white;

  @media (max-width: 535px) {
    font-size: 50px;
  }
}

.buttonRow {
  margin-top: 73px;
  display: flex;
  justify-content: center;
  gap: 35px;
  flex-wrap: wrap;
}
