@import '../../styles/variable.module.scss';

.navRow {
  width: 744px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  z-index: 11;

  @include navText;
  color: $color-white;
  text-transform: uppercase;

  li:hover {
    text-decoration: underline;
    cursor: pointer;
  }

  a {
    color: $color-white;
  }

  @media (max-width: 560px) {
    display: none;
  }
}

// .navBurger {
//   max-width: 744px;
//   position: relative;
//   left: -155px;

//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   align-items: start;
//   flex-wrap: wrap;
//   gap: 12px;
//   z-index: 11;

//   @include navText;
//   color: $color-white;
//   text-transform: uppercase;

//   li:hover {
//     text-decoration: underline;
//     cursor: pointer;
//   }

//   @media (max-width: 620px) {
//     display: none;
//   }
// }
